{%extends 'Main/base.html'%}
{% block content %}
{% load static%}
<!-- About section Start -->
<div class="about-area pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-wrapper text-center">
                    <div class="about-contant">
                        <h2 class="title">
                            <span>Smart Fashion </span>
                            With Smart Devices
                        </h2>
                        <p>ELECTRONICS STORE means a retail store devoted to the sale of home/office electronics, computers, home appliances, audio- visual equipment, software and other accessories.</p>
                    </div>
                    <div class="image">
                        <img src="{% static 'assets/images/about/promo-video-img.webp'%}" height="400" width="1000">
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About section End -->

{% endblock%}